:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.product-image{
  max-width: 300px;  /* Limit the width */
  width: 100%;   
  object-fit: cover; /* Ensure the image covers the area while maintaining aspect ratio */
}
